*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.703);
    font-size: normal;
    margin:0;
    padding: 0;
}

html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}

form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.2);

}

label {
    display: block;
    margin: 1% 5% 2% 0%;
    font-weight: bold;
}

input, textarea, button{
    width: 95%;
    align-self: center;
    margin: 0 0% 0 0;
    padding: 2% 2% 2% 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* BIG SCREENS */
@media(min-width: 601px){
    
    #container{
        /* border: 5px solid red; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.05);
        align-items: center;
    }
    
    #content{
        background-color: rgba(165, 255, 147, 0);
        margin: 0;
        padding: 1% 0 0 0;
        max-width: 700px;
        height: 100%;
    }
    
    #content h2{
        margin: 2% 5% 2% 5%;
    }
    
    #content p{
        margin: 2% 5% 0 5%;
        color: rgb(243, 243, 243);
        text-align: justify;
    }
    
}

@media(max-width: 600px){

    #container{
        /* border: 5px solid red; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.05);
        align-items: center;
    }
    
    #content{
        background-color: rgba(165, 255, 147, 0);
        margin: 0;
        padding: 1% 0 0 0;
        max-width: 700px;
        height: 100%;
    }
    
    #content h2{
        margin: 2% 5% 2% 5%;
    }
    
    #content p{
        margin: 2% 5% 0 5%;
        color: rgb(243, 243, 243);
        text-align: justify;
    }
}